= form_for @team do |f|
  - if @team.errors.any?
    #error_explanation
      %h2= "#{pluralize(@team.errors.count, "error")} prohibited this team from being saved:"
      %ul
        - @team.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :address
    = f.text_field :address
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :number
    = f.number_field :number
  .field
    = f.label :patron
    = f.text_field :patron
  .actions
    = f.submit 'Save'
