%h1 Listing educational_methods

%table
  %thead
    %tr
      %th Name
      %th
      %th
      %th

  %tbody
    - @educational_methods.each do |educational_method|
      %tr
        %td= educational_method.name
        %td= link_to 'Show', educational_method
        %td= link_to 'Edit', edit_educational_method_path(educational_method)
        %td= link_to 'Destroy', educational_method, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Educational method', new_educational_method_path
