%h1 Listing activity_forms

%table
  %thead
    %tr
      %th Educational method
      %th Description
      %th
      %th
      %th

  %tbody
    - @activity_forms.each do |activity_form|
      %tr
        %td= activity_form.educational_method
        %td= activity_form.description
        %td= link_to 'Show', activity_form
        %td= link_to 'Edit', edit_activity_form_path(activity_form)
        %td= link_to 'Destroy', activity_form, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Activity form', new_activity_form_path
