%p#notice= notice

%p
  %b Educational method:
  = @activity_form.educational_method
%p
  %b Description:
  = @activity_form.description

= link_to 'Edit', edit_activity_form_path(@activity_form)
\|
= link_to 'Back', activity_forms_path
