- content_for :title do
  = t(".title")
- content_for :notice do
  = notice
- content_for :breadcrumbs do
  = render_breadcrumbs
  
- @teams.each do |team|
  .right
    = button_link_to t(".clear"), clear_scores_path(team), "delete", true, method: :delete, data: { confirm: t(".confirm_destroy") }, class: "danger"
  %h5= team.short_name

  %table
    %thead
      %tr
        %th= t(".scout")
        %th= t(".score_sum")
        %th
        %th
        %th= icon_link_to("#", "add", class: "inactive")

    %tbody
      - team.scouts.sort_by(&:score_sum).reverse.each do |scout|
        %tr
          %td= link_to ScoutDecorator.decorate(scout).full_name, team_scout_path(team, scout)
          %td= scout.score_sum
          %td
          %td= menu_link_to t("nav.show"), score_path(scout.id), "assignment"
          %td= icon_link_to new_score_path(score: {scout_id: scout.id}), "add"
        
= paginate @teams
