%p#notice= notice

%p
  %b Activity:
  = @execution_report.activity
%p
  %b Content:
  = @execution_report.content

= link_to 'Edit', edit_execution_report_path(@execution_report)
\|
= link_to 'Back', execution_reports_path
