%h1 Listing character_traits

%table
  %thead
    %tr
      %th Name
      %th Kind
      %th
      %th
      %th

  %tbody
    - @character_traits.each do |character_trait|
      %tr
        %td= character_trait.name
        %td= character_trait.kind
        %td= link_to 'Show', character_trait
        %td= link_to 'Edit', edit_character_trait_path(character_trait)
        %td= link_to 'Destroy', character_trait, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Character trait', new_character_trait_path
