%p#notice= notice

%p
  %b Name:
  = @character_trait.name
%p
  %b Kind:
  = @character_trait.kind

= link_to 'Edit', edit_character_trait_path(@character_trait)
\|
= link_to 'Back', character_traits_path
