= simple_form_for(@scout, url: url, html: { class: 'form-horizontal' }) do |f|
  - if @scout.errors.any?
    #error_explanation
      %h2= "#{pluralize(@scout.errors.count, "error")} prohibited this scout from being saved:"
      %ul
        - @scout.errors.full_messages.each do |msg|
          %li= msg
          
  .row  
    .input-field.col.s5
      = f.text_field :first_name
      = f.label :first_name
    .input-field.col.s5
      = f.text_field :last_name
      = f.label :last_name
    .input-field.col.s2
      = f.text_field :pesel
      = f.label :pesel
  .row
    .input-field.col.s6
      = f.text_field :birthplace
      = f.label :birthplace
    .input-field.col.s6
      = f.input :avatar, input_html: { class: "image-input-button" }, label: false
      = f.label :avatar, active: true
  .row
    .input-field.col.s4
      = f.association :team, :collection => policy_scope(Team.all), :value_method => :id
      = f.label :team
    .input-field.col.s4
      = f.text_field :patrol
      = f.label :patrol
    .input-field.col.s4
      = f.select :position, position_options_for_select, include_blank: false
      = f.label :position, active: false
  .row
    .input-field.col.s4
      = f.select :rank, rank_options_for_select, include_blank: false
      = f.label :rank, active: false
    .input-field.col.s4
      = f.text_field :promise_made_on, as: :date, class: 'datepicker'
      = f.label :promise_made_on
      
  %h5 Informacje kontaktowe
  .row
    .input-field.col.s6
      %i.material-icons.prefix
        phone
      = f.text_field :phone_number
      = f.label :phone_number
    .input-field.col.s6
      %i.material-icons.prefix
        email
      = f.text_field :email
      = f.label :email
  .row
    = f.simple_fields_for :address do |fa|
      .input-field.col.s6
        %i.material-icons.prefix
          home
        = fa.text_field :street_and_number
        = label_for_nested(:street_and_number, :address, @scout)
      .input-field.col.s2
        = fa.text_field :postal_code
        = label_for_nested(:postal_code, :address, @scout)
      .input-field.col.s4
        = fa.text_field :city
        = label_for_nested(:city, :address, @scout)
        
  %h5 Informacje o szkole
  .row
    .input-field.col.s8
      = f.association :school, :collection => scout_school_collection(@scout), 
      :value_method => :id, label_method: :full_name, label: false
      = f.label :school, active: true
    .input-field.col.s4
      = f.text_field :grade
      = f.label :grade 
      
  %h5 Charakterystyka
  .row
    .input-field.col.s4
      .success= t(".strengths")
      .collection-check-boxes
        = collection_check_boxes :scout, :character_trait_ids, 
        CharacterTrait.strength.order(:name), :id, :name
        
    .input-field.col.s4
      .info= t(".neutrals")
      .collection-check-boxes
        = collection_check_boxes :scout, :character_trait_ids, 
        CharacterTrait.neutral.order(:name), :id, :name
        
    .input-field.col.s4
      .danger= t(".weaknesses")
      .collection-check-boxes
        = collection_check_boxes :scout, :character_trait_ids, 
        CharacterTrait.weakness.order(:name), :id, :name
  
  %h5 Informacje zdrowotne
  .row
    .input-field.col.s4
      = f.text_area :allergies, class: "materialize-textarea"
      = f.label :allergies
    .input-field.col.s4
      = f.text_area :past_diseases, class: "materialize-textarea"
      = f.label :past_diseases
    .input-field.col.s4
      = f.text_area :vaccinations, class: "materialize-textarea"
      = f.label :vaccinations

  = submit_button_for t("nav.send"), icon="send"
  

