%h1 Listing abilities

%table
  %thead
    %tr
      %th Name
      %th Level
      %th Requirements
      %th
      %th
      %th

  %tbody
    - @abilities.each do |ability|
      %tr
        %td= ability.name
        %td= ability.level
        %td= ability.requirements
        %td= link_to 'Show', ability
        %td= link_to 'Edit', edit_ability_path(ability)
        %td= link_to 'Destroy', ability, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Ability', new_ability_path
