- content_for :title do
  = t(".title")
- content_for :breadcrumbs do
  = render_breadcrumbs
  
= form_tag event_sort_activities_order_path, method: :patch do |f|
  .text-content
    .hint 
      = t(".hint")
  
    %ul.sortable-list{ data: { role: "sortable-list" } }
      - @activities.each do |a|
        %li
          = a.name
          = hidden_field_tag "activities[]", a.id
          %i.material-icons.right
            code
          
  .form-actions   
    = submit_button_for t("nav.send"), icon="send"
  .row.rules
    .col.s6.offset-s3
      .card.blue
        .card-content.white-text
          %b Pamiętaj o zasadach dobrej zbiórki:
          %ol
            %li Logicznego ciągu
            %li Przemienności elementów
            %li Tempa
            %li Coś starego, coś nowego
            %li Zaskoczenia
