= simple_form_for(@activity, url: url, html: { class: 'form-horizontal' }) do |f|

  - if @activity.errors.any?
    #error_explanation
      %h5= t("activerecord.errors.message", count: @activity.errors.count)
      %ul
        - @activity.errors.full_messages.each do |msg|
          %li= msg
  
  .row
    .input-field.col.s4
      = f.association :event, :collection => activity_event_collection, :value_method => :id, label_method: :starts_on, label: false, include_blank: false
      = f.label :event
    .input-field.col.s4
      = f.text_field :name
      = f.label :name
    .input-field.col.s4
      = f.text_field :estimated_time
      = f.label :estimated_time
      = f.hint "w minutach"
      
  %h5 Formy pracy
  .row
    .input-field.col.s12
      .collection-check-boxes
        = collection_check_boxes :activity, :activity_form_ids, 
        ActivityForm.order(:name), :id, :name
        
  .row
    .input-field.col.s12
      = f.text_area :description, class: "materialize-textarea"
      = f.label :description
      
  %h5 Raport
  .row
    = f.simple_fields_for :execution_report do |fa|
      .input-field.col.s12
        %i.material-icons.prefix
          report
        = fa.text_area :content, class: "materialize-textarea"
        = label_for_nested(:content, :execution_report, @activity)

  = submit_button_for t("nav.send"), icon="send"
