= simple_form_for(@ability, url: url, html: { class: 'form-horizontal' }) do |f|

  - if @ability.errors.any?
    #error_explanation
      %h5= t("activerecord.errors.message", count: @ability.errors.count)
      %ul
        - @ability.errors.full_messages.each do |msg|
          %li= msg
  .row
    .input-field.col.s8
      = f.text_field :name
      = f.label :name
    .input-field.col.s4
      = f.select :level, ability_level_options_for_select, include_blank: false
      = f.label :level, active: false

  .row
    .input-field.col.s12
      = f.text_area :requirements, class: "materialize-textarea"
      = f.label :requirements
      
  = submit_button_for t("nav.send"), icon="send"
